 <!-- Created by: Happy Shrestha # 301173200 -->  
  <!--Bottom Nav-->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy; Copyright Happy Shrestha <%= (new Date()).getFullYear() %> #301173200. All Rights Reserved.</h6>
    </nav>
  </footer>
