<% include partials/header.ejs %> <% include partials/main_nav.ejs %>
<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %> </h1>
    <h3>
      My name is Happy Shrestha.I am from Nepal. I have a medical background and worked in the A&E
      Department for a couple of years. I immigrated to Canada 1.5 yrs ago and
      decided to transition into Health Information Technology. In my leisure
      time, I like to play guitar, watch movies, play video games, hike, and
      Rock climbing
    </h3>
    <img src="/Assets/images/pic.jpeg" title="Image of Happy Shrestha" />
    <h3>Happy Shrestha</h3>
    <p>Click the link below to download my resume</p>
    <a href="/Assets/Resume.pdf" download="Resume of Happy Shrestha"
      >Download resume</a
    >
  </div>
</main>
<% include partials/bottom_nav.ejs %> //<% include partials/footer.ejs %>
