 <!-- Created by: Happy Shrestha # 301173200  Created on Oct 4th 2021-->
<% include partials/header.ejs %>

<% include partials/main_nav.ejs %>
  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
     <h1 class="display-4">Welcome to the <%= title %> page of Happy Shrestha</h1><h3>Mission Statement: To make a positive impact in global health through the use of health informatics technology </h3>
     <br><h4>Click the link below to know about me</h4>
         <br><i><a href="/about" title="Click to know about me">About me  </a></i>
    </div>
  </main>
<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>