<% include partials/header.ejs %> <% include partials/main_nav.ejs %>
<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %> page of Happy Shrestha</h1>
    <img src="/Assets/images/weather.png" width="1000" height="900"title="Image of weather app" />
    <h3>Weather app:Developed a weather forecast websitewhich consume weather api  </h3>
    <img src="/Assets/images/photo gallery.png" width="1000" height="900" title="Photo gallery" />
    <h3>Photo Gallery:Developed a photo gallery with functions to add, remove save favourite images</h3>
    <img src="/Assets/images/form.png"  width="1000" height="900"title="Form" />
    <h3>Form validation:Developed a form which requires validation</h3>
  </div>
</main>
<% include partials/bottom_nav.ejs %> <% include partials/footer.ejs %>
