 <!-- Created by: Happy Shrestha # 301173200 -->
<% include partials/header.ejs %>

<% include partials/main_nav.ejs %>


<main class="container">
  <div class="jumbotron">
<h1 class="display-4"><%= title %> </h1>
<ul class="list">
<li>Custom web page development</li>
<li>web application development</li>
<li>Data visualization using Tableau</li>
<li>Data mining using RapidMiner</li>
</ul>
</div>
</main>


<% include partials/bottom_nav.ejs %>

<% include partials/footer.ejs %>